{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Add Prisoner</title>
    <link rel="icon" href="{% static '/images/prison.ico' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" type='text/css'>
    <script type="text/javascript" src="{% static '/js/index.js' %}" charset="utf-8">
    </script>

</head>

<body>

    <div class="APtop">

        <img class="top-logo" src="{% static '/images/logo.png' %}" alt="Punjab police logo">
        <h1 class="main2-h1">Register prisoner</h1>
        <p class="Capacity_Box" id="demo"></p>
        <script>
            showCapacity();
        </script>
        <hr>
    </div>
    <div class="row1">

        <div class="personer-info">
            <form class="" action="index.html" method="post">

                <h2>Personel Information:</h2>
                <label for="firstName">First name<span class="mustAdd">*</span> </label><br>
                <input class="inputs inputs2" type="text" name="fname" value=""><br><br>

                <label for="lastName">Last name<span class="mustAdd">*</span> </label><br>
                <input class="inputs inputs2" type="text" name="lname" value=""><br><br>

                <label for="Age">Age<span class="mustAdd">*</span> </label><br>
                <input class="inputs inputs2" type="number" name="age" value=""><br><br>

                <label for="Address">Address<span class="mustAdd">*</span> </label><br>
                <textarea class="inputs inputsPara" name="paragraph_text" cols="30" rows="5"></textarea><br><br>

                <label for="gender">Gender<span class="mustAdd">*</span> </label><br>
                <input type="radio" id="male" name="gender" value="male">
                <label for="male">Male</label><br>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label><br>
                <input type="radio" id="other" name="gender" value="other">
                <label for="other">Other</label><br><br>

                <label for="EmergencyContact">Emergency Contact<span class="mustAdd">*</span> </label><br>
                <input class="inputs inputs2" type="tel" id="phone" name="phone" placeholder="+92-3xx-xxxxxxx" pattern="[9]{1}[9]{1}[3]{1}-[0-9]{7}" required><br><br>

            </form>
        </div>

        <div class="Assests">
            <form class="" action="index.html" method="post">

                <h2>Assests:</h2>
                <label for="Assets">Add details about prisoner's assets<span class="mustAdd">*</span></label><br>
                <textarea class="inputs inputsPara" name="paragraph_text" cols="30" rows="5"></textarea><br><br>

            </form>
        </div>

        <div class="CrimeDetails">
            <form class="" action="index.html" method="post">

                <h2>Crime Details:</h2>
                <label for="crimeDetails">Add details about crime<span class="mustAdd">*</span></label><br>
                <textarea class="inputs inputsPara" name="paragraph_text" cols="30" rows="5"></textarea><br><br>

            </form>
        </div>

        <div class="CriminalCateory">

            <h2>Criminal Cateory:</h2>
            <form class="" action="index.html" method="post">

                <label for="criminalCategory">Select Cateory<span class="mustAdd">*</span></label><br>
                <input class="inputs inputs2" list="Cateory" name="cat">
                <datalist id="Cateory">
          <option value="A">
          <option value="B">
          <option value="C">
          <option value="D">
        </datalist>

            </form>
        </div>

    </div>
    <hr>
    <div class="row2">
        <div class="type">
            <form class="" action="index.html" method="post">

                <h2>Type of criminal</h2>
                <input type="radio" name="pType" value="executed">
                <label for="male">To be executed</label><br>
                <input type="radio" name="pType" value="released">
                <label for="female">To be freed</label><br>
                <button class="Capacity_Box reg " type="button" name="button">Register!</button>

            </form>
        </div>

        <div class="Execution">
            <h2>Execution Type:</h2>
            <form class="" action="index.html" method="post">

                <label for="exeType">Select Cateory</label><br>
                <input class="inputs inputs2" list="executions" placeholder="--None--">
                <datalist id="executions">
          <option value="--None--">
          <option value="Hanging">
          <option value="Electrocution">
          <option value="Firing squad">
          <option value="Gas Chamber">
          <option value="Lethal injection">
        </datalist>
                <h2>Date of execution</h2>
                <label for="dateOfExecution">Execution date:</label>
                <input class="inputs inputs2" type="date" name="exeDate" value="10/10/2020">
            </form>
        </div>

</html>