{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="icon" href="{% static '/images/prison.ico' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" type='text/css'>
    <script type="text/javascript" src="{% static '/js/index.js' %}" charset="utf-8">
    </script>
</head>

<body>

    <img class="top-logo" src="{% static '/images/logo.png' %}" alt="Punjab police logo">
    <div class="login">
        <h1 class="login-h1">Login</h1>
        <label for="UserName">Name</label><br>
        <input class="inputs inputs2" type="text" name="" placeholder="Username" value=""><br><br>

        <label for="password">Password</label><br>
        <input class="inputs inputs2" type="password" name="pass" placeholder="Password" value=""><br>
        <form action="{% url 'jhome' %}">
            {% csrf_token %}
            <input type="submit" class='b buttonLogin' value="Officer Login" />
        </form>
        <form action="{% url 'jhome' %}">
            {% csrf_token %}
            <input type="submit" class='b buttonLogin' value="Jailor Login" />
        </form>

    </div>
</body>

</html>